.app-title {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: normal;
    color: var(--font-color);
}

.app-subtitle {
    font-weight: 400;
    line-height: 1.75rem;
    font-size: 1.25rem;
    letter-spacing: normal;
    color: var(--font-color);
}

.app-text {
    color: var(--font-color);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: normal;
}

.app-light-text {
    color: var(--font-color);
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: normal;
}

.app-text--highlighted {
    font-weight: 700;
}
